
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.banner-unicef-link{
    text-decoration: none;
    color: #06c;
    font-size: 0.9rem;
    padding: 15px 0;

}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%  10%;
    height: 5%;
}


.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    width: 1.4vw;
}

.navbar-button:hover {
    color: #ffffff;
}

#search {background-image:url("./resources/images/search.svg");
    background-position: -33px -9px;
    background-size: 410% 410%;
    
}

.banner-unicef {
    background-color:rgb(247, 245, 253) ;
    height: 70px;
    align-items: center;
    display: flex;
    padding: 15px;
    color: #06c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.banner-unicef img {
    margin-right: 10px;}


.flex-container  {
    background-image: url("./MacBook1.jpg");
    background-repeat: no-repeat; 
    background-position: 100%;
    background-size: 900px 900px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.main {
    height: 1000px;
    width: 1200px;
  align-items: flex-start;
  padding-left: 20vw;
 
} 
    
.t1{
    font-size: 3.2rem;
    color: black;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-bottom: 0;  
}

.t2{
    font-size: 1.7rem;
    color:black;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 7px;
    margin-bottom: 0;   
}

.f-link {
    font-size: 1.2rem;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #06c;
    text-decoration: none;
    padding: 0px 30px;
}
    

.main-pic-Iphone {
    text-align: center;
    background-image: url("./iphone13.jpeg");
    height: 2000px;
    width: 1900px;
    background-position: 70%;
    cursor: pointer;
    background-repeat: no-repeat;
    min-height: 100%;
    vertical-align:;
}

.main-Collage {
    background-image:url("./collage.jpeg");
    text-align:center;
    height: 2000px;
    width: 1900px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 70%;
    min-height: 100%;
    float: left; 
    align-content: center;
    

}

.supercharget {
  

   
