
body {
    display: flex;
    margin: 0;
    flex-direction: column;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
}

.navbar-button:hover {
    color: #ffffff;
}

#search {
    
}

.banner-unicef {
    border: 1px solid rgb(79, 161, 161); 
    background-color:rgb(247, 245, 253) ;
    height: 70px;
    align-items: center;
    display: flex;
    padding: 0px;
    color: #06c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.banner-unicef img {margin-right: 10px;}

.products-higlights {border: 1px solid rgb(122, 133, 101);
}

footer {
    border: 1px solid red;
}

